# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# PyTorch 模型
*.pth
*.pt
*.onnx

# IDE
.idea/
.vscode/
.cursor/

# OS
.DS_Store
Thumbs.db

#数据 大文件
nakano-images/
